:root {
  /* Text color begin*/
  --text-primary-color  : #4F5665;
  --text-secondary-color: #0B132A;
  /* Text color end*/

  /* Button color begin*/
  --btn-primary-color  : #FFFFFF;
  --btn-secondary-color: #F53838;
  /* Button color end*/


  /* Font size begin*/
  --fs-x-small : 14px;
  --fs-small   : 16px;
  --fs-x-medium: 18px;
  --fs-medium  : 20px;
  --fs-x-large : 25px;
  --fs-large   : 35px;
  --fs-x-huge  : 50px;
  /* Font size end*/

  /* Font weight begin*/
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold  : 700;
  /* Font weight end*/

  /* Font family begin*/
  --primary-font: "Rubik";
  /* Font family end*/

  /* Line height begin*/
  --lh-x-medium: 25px;
  --lh-medium  : 25px;
  --lh-x-large : 50px;
  --lh-large   : 70px;
  /* Line height end*/
}